body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f6f8;
}

h1 {
    color: #2e7d32;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #2e7d32;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1b5e20;
}

input, select {
    padding: 8px;
    margin: 5px;
    width: 200px;
}

table {
    margin: auto;
    background: white;
    border-collapse: collapse;
}

th {
    background-color: #2e7d32;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
}
.scrapItem {
    margin: 10px;
}

.scrapItem select,
.scrapItem input {
    margin: 5px;
}